body {
    background-color: white; /* Set the white background */
    background-image: url('res/dots_vector.svg'); /* Path to your PNG */
    background-repeat: repeat; /* Repeats the dots background */
    background-size:30%; /* Keep the default size of the PNG */
    background-position: center; /* Centers the PNG pattern */
    font-family: "Montserrat";
}

/* Make sure the body takes the full height of the viewport */
html, body {
    height: 100%;
    margin: 0;
}

/* Styling for the top half of the screen */
.half-screen {
    background-color: #89cbd9; /* Blue background color */
    height: 70vh; /* 50% of the viewport height (vh) */
    color: white; /* White text color for contrast */
    display: flex; /* Flexbox to center content */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

/* Styling for the bottom half or other content */
.content {
    height: 20vh; /* The other half of the viewport height */
    text-align: center; /* Center the content horizontally */

    align-items: center;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
    
}

.logo {
    height: 50vh;
    max-width: 90vw;
    margin-bottom: 2vh;
}

.icon {
    height: 8vh;
    margin-bottom: 1vh;
}

.content-wrapper {
    display: flex;
    flex-direction: column; /* Stack logo and address vertically */
    align-items: center; /* Center horizontally */
}

/* Address section styling */
.address {
    display: flex; 
    flex-direction: column;/* Place icon and text side-by-side */
    align-items: center; /* Align icon and text vertically */
    color: white; /* Text color for the address */
    font-weight: 700;
}

.address span {
    font-size: 3.5vh; /* Adjust text size for address */
    color: white; /* Ensure text is visible on blue background */
}

/* Styling for the Coming Soon text box */
.coming-soon-box {
    background-color: #e0faff; /* Background color of the text box */
    border-radius: 10px; /* Rounded corners */
    width:fit-content;
    align-items: center;

}

.coming-soon-box-opis {
    background-color: #e0faff; /* Background color of the text box */
    border-radius: 10px; /* Rounded corners */
    width:fit-content;
    align-items: center;
    text-align: center;
    padding: 4vh 10vw;

    
}



.bumper {
    height: 5vh;
}

.container-header-blue {
    background-color: #89cbd9;
    height: 80vh;
    color: white;
}

.container-footer {
    background-color: #89cbd9;
    height: 45vh;
    color: white;

}

.container-opis {
    background-color: #e0faff; /* Background color of the text box */
    border-radius: 10px; /* Rounded corners */
    width:fit-content;
    align-items: center;
    text-align: center;
    padding: 4vh 20vw;

}

.container-opis h4 {
    color: #0b8fac; /* Text color */
    margin: 0; /* Remove margin for the heading */
    font-weight: 500;
    padding: 1vh 1vw; /* Add padding inside the text box for spacing */

}

.container-opis h3 {
    color: #0b8fac; /* Text color */
    margin: 0; /* Remove margin for the heading */
    font-weight: 500;
    padding: 1vh 3vw; /* Add padding inside the text box for spacing */

}

.container-opis h5 { 
    font-weight: 300;
    padding: 1vh 3vw; /* Add padding inside the text box for spacing */
    text-align: justify;

}

.container-white {
    background-color: white;
}

.container-white h5{
    line-height: 1.5;

}

.container-bumper {
    height: 3vh;
}

.container-mini-bumper {
    height: 1vh;
}

.my-map{
    height: 30vh;
    width: 70vw;
}

.nav-item{
    color:#0b8fac;
    font-size: 2vh;

    text-decoration: none;
}

.container-podlaga{
    background-color: white;
}

.btn.btn-default:hover{
    background-color: #89cbd9;
    color:white;
}

.nav a {
    font-size: 1.2rem; /* Increase font size */
    transition: color 0.3s ease; /* Smooth hover effect */
  }

.nav a:hover {
    color: #001f54; /* Deep blue hover color */
    transform: scale(1.05);
  }

.service-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.service-box {
    opacity: 0; /* Initially invisible */
    transform: translateY(50px); /* Move down by 50px */
    transition: opacity 1s ease-out, transform 0.5s ease-out;
    flex: 1;
    min-height: 30vh;
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 3vh 2vw;
    background-image: url('res/dots_vector.svg');
    background-size:50%;

}

.service-box.show {
    opacity: 1;
    transform: translateY(0);
}

.service-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);

}

.service-description {
    margin-top: 30px;
    padding: 2vh 3vw;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    text-align: justify;
}

.service-title{
    font-size: large;
}
.service-title:hover{
    font-weight: 600;
}

.inner-title{
    font-weight: 600;
}


.container-opis h4 a {
    color: #0b8fac; /* Text color */
    margin: 0; /* Remove margin for the heading */
    font-weight: 500;
    padding: 1vh 1vw; /* Add padding inside the text box for spacing */
    text-decoration: none;

}

.cenik-row:hover{
    transform: scale(1.02);
    font-weight: 500;


}
